<div class="game">

    <div class="game-stats">
        <header>Select the item that was created the latest!</header>
        <p>Current Score: {{ score$ | async }}</p>
        <button mat-raised-button color="primary"
            (click)="newGame()"
        >New Game</button>
    </div>

    <div class="choice border" (click)="onSelect('left')">
        <div class="left" [style.color]="isCorrect(left$ | async, right$ | async, gameState$ | async)">
            <h1>{{ (left$ | async)?.name }}</h1>
            <p *ngIf="(gameState$ | async) === GameState.inGame">Created: ???</p>
            <p *ngIf="(gameState$ | async) === GameState.roundResults">
                Created: {{ toDateFormat((left$ | async)!.creationDate) }} ({{ toDockerDate((left$ | async)!.creationDate) }})
            </p>
        </div>
        <img class="image-left" [src]="(left$ | async)?.image"/>
    </div>

    <div class="versus">
        <h2 *ngIf="(gameState$ | async) === GameState.inGame">vs</h2>
        <h2 *ngIf="(gameState$ | async) === GameState.roundResults" (click)="nextRound()">
            Next
        </h2>
    </div>

    <div class="choice" (click)="onSelect('right')">
        <div class="right" [style.color]="isCorrect(right$ | async, left$ | async, gameState$ | async)">
            <h1>{{ (right$ | async)?.name }}</h1>
            <p *ngIf="(gameState$ | async) === GameState.inGame">Created: ???</p>
            <p *ngIf="(gameState$ | async) === GameState.roundResults">
                Created: {{ toDateFormat((right$ | async)!.creationDate) }} ({{ toDockerDate((right$ | async)!.creationDate) }})
            </p>
        </div>
        <img class="image-right" [src]="(right$ | async)?.image"/>
    </div>
</div>
